<div class="row mr-0">
  <div class="col-md-2 col-1"></div>

  <div class="col-md-8 col-10 my-5">
    <div class="card mb-3">
      <div class="card-header">
        Pick a theme:
      </div>

      <div class="card-body">
        <div class="card-text">
          <div class="mb-4 d-none d-sm-block">
            <button type="button" class="btn btn-primary" (click)="applyDefaultTheme()">None</button>
            &nbsp;
            <button type="button" class="btn btn-primary" (click)="applyLightTheme()">Light</button>
            &nbsp;
            <button type="button" class="btn btn-primary" (click)="applyDarkTheme()">Dark</button>
          </div>
      
          <div class="d-sm-none">
            <figure class="btn btn-link" (click)="applyDefaultTheme()">
              <img title="None" src="assets/theme-none.jpg" class="img-theme-none">
              <figcaption>None</figcaption>
            </figure>

            <figure class="btn btn-link" (click)="applyLightTheme()">
              <img title="Light" src="assets/theme-light.jpg" class="img-theme-light">
              <figcaption>Light</figcaption>
            </figure>

            <figure class="btn btn-link" (click)="applyDarkTheme()">
              <img title="Dark" src="assets/theme-dark.jpg" class="img-theme-dark">
              <figcaption>Dark</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <section>
      <p class="mb-2">
        <a href="https://www.lipsum.com/" target="_blank">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit.
        Vivamus at vehicula orci. Etiam consequat lectus quis
        nunc
        feugiat volutpat vitae pellentesque lorem. Nam dignissim egestas malesuada. Ut finibus lectus eget cursus
        congue.
        Nam
        at ex sapien. Suspendisse dictum diam lacus, in malesuada velit malesuada sit amet. Suspendisse potenti.
      </p>
      <p class="mb-2">
        Nam scelerisque cursus ex ut tincidunt. Suspendisse fermentum ultricies mauris, eget consectetur arcu.
        Vestibulum
        euismod mi a efficitur cursus. Aliquam cursus gravida justo, vitae interdum lorem. Phasellus interdum arcu
        tincidunt
        enim mattis vulputate. Fusce aliquam lorem sit amet odio condimentum faucibus vel ac urna. Praesent facilisis
        gravida
        dolor, sit amet dignissim ipsum lobortis ac. Donec sagittis tellus non nisl volutpat fermentum.
      </p>
      <p class="mb-2">
        Etiam vestibulum urna mi, ac blandit ex tempus commodo. Morbi nec dolor placerat, rutrum risus a, placerat nisl.
        Nam
        viverra aliquet consequat. Integer vitae erat eu lectus aliquam dictum. Sed convallis lobortis nulla, lobortis
        scelerisque nunc ultrices quis. <a href="https://www.lipsum.com/" target="_blank">Proin at ante lacinia</a>,
        dignissim ante maximus, tristique dui. Nulla ut tellus quis
        tortor tincidunt dictum sed id turpis. Suspendisse tempus nibh a nisl suscipit, at pharetra ligula bibendum.
      </p>
      <p class="mb-2">
        Phasellus at tristique nibh. In molestie nisi convallis imperdiet mattis. Etiam consectetur leo in augue
        dignissim,
        et
        rutrum lacus vulputate. Cras ullamcorper nibh nunc, non ullamcorper elit hendrerit sed. Sed accumsan nulla at
        mattis
        rhoncus. Nulla a porta nulla. Morbi eget lacinia quam. Cras scelerisque leo nibh, non tincidunt arcu accumsan
        eget.
      </p>
      <p class="mb-2">
        Nunc placerat convallis ligula, vel accumsan magna ultricies vel. <a href="https://www.lipsum.com/"
          target="_blank">Pellentesque habitant morbi tristique</a> senectus
        et
        netus et malesuada fames ac turpis egestas. Nullam purus purus, tincidunt vel nibh sed, lacinia iaculis ex.
        Donec
        mattis ligula at ex ullamcorper tempor. Morbi molestie nisl diam, quis egestas diam rhoncus sit amet. Praesent
        iaculis
        tellus ipsum, ut sodales lacus commodo eu. Nam pellentesque sagittis massa convallis laoreet. Curabitur molestie
        massa
        sem, pellentesque accumsan metus porttitor ac. Sed in massa dolor. Mauris quis lectus volutpat, congue libero
        vel,
        posuere eros. Nulla risus ipsum, pulvinar vel felis in, accumsan euismod urna. Cras ut turpis magna.
      </p>
    </section>
  </div>
</div>